<!-- Fragmento de Navbar reutilizable -->
<div th:fragment="navbar">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Inicio</a>
            <a class="navbar-brand" href="/sqlinjection">SQL injection</a>
            <a class="navbar-brand" href="/csrf">CSRF</a>
            <a class="navbar-brand" href="/xss">XSS</a>
            <a class="navbar-brand" href="/idor/1">IDOR</a>
            <a class="navbar-brand" href="/idor/control/1">IDOR Control</a>
            <a class="navbar-brand" href="/files">Upload</a>
            <a class="navbar-brand" href="/files/read">File Reader</a>
            <a class="navbar-brand" href="/redirect">Redirect</a>
            <a class="navbar-brand" href="/ssrf">SSRF</a>
            <a class="navbar-brand" href="/deserialization">Deserialization</a>
            <a class="navbar-brand" href="/cors">Cors</a>
            <a class="navbar-brand" href="/cookies">Cookies</a>
        </div>
    </nav>
</div>