<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Subida de Fichero</title>
    <!-- Bootstrap WebJars -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<!-- Insertar navbar -->
<div th:insert="~{fragments :: navbar}"></div>
<h1>Subir un fichero</h1>

<form th:action="@{/files/upload}"
      method="post"
      enctype="multipart/form-data">
    <input type="file" name="file" required/><br><br>
    <button type="submit">Subir</button>
</form>

<!-- Mensaje de éxito -->
<div th:if="${success}" style="color: green; margin-top: 1em;">
    <p th:text="${success}"></p>
</div>
<!-- Bootstrap WebJars JS -->
<script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
